<h1>Burger-Mania!</h1>


<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="jumbotron">
      <h4 class="subtitle">Add A Burger to the Menu</h4>

      <form id="addburger">

        <div class="form-group">
          <input type="text" id="burger" class="form-control" name="name" placeholder="Type burger name here">
          <button class="btn btn-success" id="btn" type="submit">Add Burger!</button>
        </div>

      </form>
    </div>
  </div>

</div>

<br>

<main>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
          <h4>Burger Wish List</h4>
          <ol>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
              <p>
                {{burger_name}}

                <button data-id="{{this.id}}" class="btn btn-sucess" id="devour">Devour Burger!</button>
              </p>
            </li>
            {{/unless}}
            {{/each}}
          </ol>
      </div>

      <div class="col-sm-2"></div>

      <div class="col-sm-4">
          <h4>Burgers Devoured</h4>
          <ol>
            {{#each burgers}}
            {{#if devoured}}
            <li>
              <p>
                {{this.burger_name}}
              </p>
            </li>
            {{/if}}
            {{/each}}
          </ol>
      </div>
    </div>
  </div>

</main>





<script>

  $(function () {
    // Add a burger
    $("#addburger").on("submit", function (event) {
      event.preventDefault();

      var newBurger = {
        burger_name: $("#burger").val().trim()
      };

      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
      }).then(
        function () {
          console.log("new burger added");
          location.reload();
        }
      )
    })

    // Devour a burger "PUT"
    $("#devour").on("click", function () {
      event.preventDefault();

      var id = $(this).data("id");
      console.log(id);

      var eaten = {
        devoured: true
      };

      $.ajax("/api/burgers/" + id, {
        type: "PUT",
        data: eaten
      }).then(
        function () {
          console.log("Burger Devoured");
          location.reload();
        }
      )
    })

  })


</script>